{:deps {
        org.clojure/clojure {:mvn/version "1.12.0"}

        ;; https://github.com/clojure/clojurescript
        org.clojure/clojurescript {:mvn/version "1.11.132"}

        ;; https://github.com/clojure/tools.build
        io.github.clojure/tools.build {:mvn/version "0.10.8"}

        thheller/shadow-cljs {:mvn/version "2.28.23"}
        
        ;; https://github.com/cjohansen/replicant
        no.cjohansen/replicant {:mvn/version "2025.12.1"}

        ;; https://github.com/dakrone/cheshire
        cheshire/cheshire {:mvn/version "5.13.0"}

        metosin/malli {:mvn/version "0.17.0"}

        ;; rewrite-clj/rewrite-clj {:mvn/version "1.1.49"}
        clj-kondo/clj-kondo {:mvn/version "2025.01.16"}

        io.github.nextjournal/clerk {:mvn/version "0.17.1102"}

        ;; https://github.com/binaryage/cljs-devtools
        binaryage/devtools {:mvn/version "1.0.7"}

        lilactown/helix {:mvn/version "0.1.11"}

        funcool/promesa {:mvn/version "11.0.678"}
        }

 :paths ["src"] 
 }
